/* Form */
.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  .container .form-container{
    background-color: white;
    box-sizing: border-box;
    padding: 5%;
    margin: 2%;
    width: 100%;
    border-radius: 5px;
    border-top: 10px solid #f3c228;
  }
  
  .container .form-container h1{
      text-align: center;
      font-size: 2.5em;
      font-weight: bolder;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  
  .container .form-container input{
     width: 100%;
     padding: 10px;
     border: 1px solid silver;
     border-radius: 2px;
     margin-top: 2em;
     font-size: 16px;
  }

  .container .form-container .names{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
  }

  .container .form-container .names input{
    width: 46%;
  }

  .container .form-container .gender{
    display: flex;
    flex-direction: row;
    width: 100%;
  }

  .container .form-container .gender .genderOption{
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin-right: 20px;
    /* width: 100%; */
  }
  .container .form-container .gender .genderOption label{
    color: black;
    /* margin-top: 100%; */
    margin-left: 5px;
  }
  .container .form-container .gender .genderOption .label1{
    margin-top: 75%;
  }
  .container .form-container .gender .genderOption .label2{
    margin-top: 56%;
  }

  .container .form-container select{
     width: 100%;
     padding: 10px;
     padding-left: 20px;
     border: 1px solid silver;
     border-radius: 2px;
     margin-top: 2em;
     font-size: 16px;
  }

  /* Terms and Conditions */
  .conditions {
    display: flex;
    flex-direction: column;
  }
  .conditions div{
    display: flex;
    flex-direction: row;
  }
  .conditions input {
    margin-left: -43%;
  }
  .conditions label{
    margin-left: -46%;
    color: black;
    margin-top: 6%;
  }
  .container .form-container button{
      width: 100%;
      padding: 10px;
      background-color: #f3c228;
      color: white;
      cursor: pointer;
      border-radius: 10px;
      border: 0px;
      margin-top: 2.5em;
      font-size: 18px;
  }
  
  .container .form-container button:hover{
      transform: scale(1.02);
  }
  
.form-container form label {
    color: red;
    font-size: 14px;
}

.error-message {
    color: white;
    font-size: 18px;
    text-align: center;
    width: 100%;
    background-color: red;
    opacity: 0.4;
    padding: 5px;
    border-radius: 5px;
}

/* Login Form */
